# Notion configuration
NOTION_TOKEN=********
NOTION_DATABASE_ID=********
NOTION_POSTS_DATA_SOURCE_ID=********
NOTION_PROJECTS_DATA_SOURCE_ID=********
NOTION_CATEGORIES_DATA_SOURCE_ID=********
NOTION_TAGS_DATA_SOURCE_ID=********
NOTION_AUTHORS_DATA_SOURCE_ID=********
NEXT_PUBLIC_SITE_URL=********

# Resend configuration
RESEND_API_KEY=********
CONTACT_FROM_EMAIL=********
CONTACT_TO_EMAIL=********

# Contact information
CONTACT_GITHUB_URL=********
CONTACT_LINKEDIN_URL=********
CONTACT_FACEBOOK_URL=********
CONTACT_TWITTER_URL=********
CONTACT_INSTAGRAM_URL=********
CONTACT_YOUTUBE_URL=********

# Giscus configuration
NEXT_PUBLIC_GISCUS_ENABLED=********
NEXT_PUBLIC_GISCUS_REPO=********
NEXT_PUBLIC_GISCUS_REPO_ID=********
NEXT_PUBLIC_GISCUS_CATEGORY=********
NEXT_PUBLIC_GISCUS_CATEGORY_ID=********

# Upstash Redis configuration
UPSTASH_REDIS_REST_URL=********
UPSTASH_REDIS_REST_TOKEN=********
